<div {{ wrappers_attributes }}>
	<div {{attributes}}>
		{% if title %}
		<h3>
			{{ title }}
		</h3>
		{% endif %}
		<div {{ swipper_attributes }}>
			<div class="swiper-wrapper">
				{% for row in rows %}
				<div {{row.attributes}}>
					{{ row|without('attributes') }}
				</div>
				{% endfor %}
			</div>
			{% include '@fullswiperoptions/includes/fullswiperoptions--navigation.html.twig' %}
			{% include '@fullswiperoptions/includes/fullswiperoptions--pagination.html.twig' %}
			{% include '@fullswiperoptions/includes/fullswiperoptions--scrollbar.html.twig' %}			
		</div>
	</div>
</div>