<div {{attributes}}>
	<div {{ swipper_attributes.addClass('') }}>
		<div class="swiper-wrapper">
			{% for row in rows %}
			<div {{row.attributes}}>
				{{ row|without('attributes') }}
			</div>
			{% endfor %}
		</div>
		{#
			carousel-hero -- carousel-nav
			carousel-testy -- carousel-nav carousel-nav--black d-flex justify-content-center
			carousel-nav-testy -- carousel-nav carousel-nav--carree carousel-nav--black d-flex justify-content-center
			carousel-testy-nav-rond -- carousel-nav carousel-nav--black d-flex justify-content-center
			blog-carousel -- carousel-rond
			thumbs-carousel -- carousel-nav
		#}
		<!-- If we need pagination -->
		<div {{ swipper_attributes_paginations.addClass() }}>
		</div>
		<!-- next and Prev -->
        {% if swiper_options.navigation %}
				<div {{swipper_attributes_buttons_prev}}></div>
				<div {{swipper_attributes_buttons_next}}></div>
		{% endif %}
		<!-- If we need scrollbar -->
			{% if swiper_options.scroll %}
				<div class="swiper-scrollbar"></div>
			{% endif %}
	</div>
</div>